
color-1 = #000
color-2 = #fff
background-1 = #fff
background-2 = #9a8d3c


@keyframes WB-btn-flash
  0%
    color color-1
    background-color background-1
  50%
    color color-2
    background-color background-2

@-webkit-keyframes WB-btn-flash
  0%
    color color-1
    background-color background-1
  50%
    color color-2
    background-color background-2


@-moz-keyframes WB-btn-flash
  from
    color color-1
    background-color background-1
  to
    color color-2
    background-color background-2

@-ms-keyframes WB-btn-flash
  from
    color color-1
    background-color background-1
  to
    color color-2
    background-color background-2

@-o-keyframes WB-btn-flash
  from
    color color-1
    background-color background-1
  to
    color color-2
    background-color background-2
