@import "./../imports/globals"

// .layer-1

.layer-2
  background url('/images/layer-02.jpg') no-repeat


logo-height = 75px

fadeout-scale-shift = 0.95
fadeout-top-shift = 1.05
fadein-top-shift  = 1.2


card-01-top  = 343px
card-01-left = 821px

card-02-top  = (card-01-top  + (165px + 3))
card-02-left = (card-01-left - (334px + 5))
card-03-top  = (card-02-top  + (165px + 3))
card-03-left = (card-02-left - (334px + 5))

card-04-top  = (card-01-top  + (415px + 3))
card-04-left = (card-01-left + (165px + 5))
card-05-top  = (card-02-top  + (415px + 3))
card-05-left = (card-02-left + (165px + 5))


.txt-1.logo
  width 400px
  height logo-height
  line-height logo-height
  margin 0 auto
  // margin-top 210px
  margin-left -200px
  margin-top 120px
  // background url('/images/txt-01-c.png') no-repeat center top
  // background-size contain
  z-index 10000
  cursor pointer
  color UNVAEL-GOLD
  font-family FONT-SERIF
  font-size 6em
  letter-spacing 0.2em


txt-2-width = 100px

.txt-2
  width txt-2-width
  height 220px
  margin 0 auto
  margin-left -(txt-2-width / 2)
  background url('/images/v2/txt-02.png') no-repeat center top
  background-size contain
  position absolute
  top 380px
  left 50%
  z-index 10010

.btn
  font-family FONT-SANS-SERIF
  font-size 8px
  color #fff
  letter-spacing 0.3em
  margin 0 auto
  transition all .12s ease-in-out
  background-color #000
  padding 22px 34px
  margin-left 150px
  margin-top 130px

  &:hover
    animation(WB-btn-flash 0.5s ease-in-out)
    background-color #9a8d3c


txt-3-width = 1046px

.txt-3
  // width txt-3-width
  height 38px
  line-height 22px
  margin 0 auto
  // margin-top 1452px
  margin-left -(txt-3-width / 2)px
  translate3dfn translate3d(0, -50%, 0px)
  // background url('/images/v2/txt-03.png') no-repeat center top
  // background-size contain
  position absolute
  top 560px
  left 50%
  z-index 10030
  color #fff
  font-family FONT-SERIF
  font-size 1.7em
  letter-spacing 0.4em
  word-spacing 0.03em
  text-align center


.txt-4
  width 1600px
  height 325px
  margin 0 auto
  margin-left -800px
  background-image url('/images/txt-brands-points.png')
  background-size contain
  background-repeat no-repeat
  position absolute
  top 700px
  left 50%
  z-index 1050




.brand-point-1
  width 800px
  height 60px
  margin 0 auto
  background url('/images/txt-brands-points-01.png') no-repeat center top
  background-size contain
  position absolute
  top 700px
  right 265px
  z-index 10010

.brand-point-2
  width 800px
  height 60px
  margin 0 auto
  background url('/images/txt-brands-points-02.png') no-repeat center top
  background-size contain
  position absolute
  top 803px
  right 140px
  z-index 10010

.brand-point-3
  width 800px
  height 60px
  margin 0 auto
  background url('/images/txt-brands-points-03.png') no-repeat center top
  background-size contain
  position absolute
  top 903px
  right 10px
  z-index 10010




.layer-3
  width 100%
  height 1260px
  margin 0 auto
  // margin-top 1452px
  // margin-left -530px
  background url('/images/layer-03b.png') no-repeat
  background-size contain
  position absolute
  top 480px
  // left 50%
  opacity-fn(0.45)


tile-card-scale-factor = 0.66
tile-card-width  = (640px  * tile-card-scale-factor)
tile-card-height = (1075px * tile-card-scale-factor)


// disables horizontal scrolling due to tile-card placement off-screen
html
  overflow-x hidden


.tile-cards
  width 100%
  overflow hidden


.tile-card
  width  tile-card-width
  height tile-card-height
  position absolute
  opacity 0.5
  transition(all 0.35s ease-out)

  &.default
    background-color rgba(154, 141, 60, 0.3)
    z-index 1020
    perspective-origin center
    transform rotateX(38deg) rotateY(-45deg) skewX(45deg) skewY(7deg)
    box-shadow(0 0 15px rgba(0,0,0,0.95))

    &.a,
    &.b,
    &.c,
    &.d,
    &.e
      background-size cover
      background-repeat no-repeat

    &.a
      top card-01-top
      left card-01-left
      background-image url('/images/artists-influencers/quincy.jpg')
    &.b
      top card-02-top
      left card-02-left
      background-image url('/images/artists-influencers/margaux.jpg')
    &.c
      top card-04-top
      left card-04-left
      background-image url('/images/artists-influencers/drake.jpg')
    &.d
      top card-05-top
      left card-05-left
      background-image url('/images/artists-influencers/nick-young.jpg')
    &.e
      top card-03-top
      left card-03-left
      background-image url('/images/artists-influencers/neyo.jpg')

  &.fadeout
    box-shadow(0 0 1px rgba(0,0,0,0.35))
    opacity 0.1
    z-index 1010
    background-color rgba(255,255,255, 0.25)

    &.a,
    &.b,
    &.c,
    &.d,
    &.e
      opacity 0.3
      transform rotateX(38deg) rotateY(-45deg) skewX(45deg) skewY(7deg) scale(fadeout-scale-shift)

    &.a
      top 343px * fadeout-top-shift
    &.b
      top 517px * fadeout-top-shift
    &.c
      top 600px * fadeout-top-shift
    &.d
      top 773px * fadeout-top-shift
    &.e
      top 692px * fadeout-top-shift

  &.fadein
    box-shadow(0 0 100px rgba(0,0,0,0.35))

    &.a,
    &.b,
    &.c,
    &.d,
    &.e
      opacity 0.01
      transform rotateX(22deg) rotateY(-45deg) skewX(45deg) skewY(-3deg)

    &.a
      top 343px -  (343px * fadein-top-shift)
    &.b
      top 517px - (517px * fadein-top-shift)
    &.c
      top 600px - (600px * fadein-top-shift)
    &.d
      top 773px - (773px * fadein-top-shift)
    &.e
      top 692px - (692px * fadein-top-shift)
